<template>

        <div id="container" class="container">

            <div class="row">

                <div class="col-sm-8 offset-sm-2">
                <div class="alert alert-warning" v-show="showCreateMessage"  >
                  <button type="button" class="close" @click="hideMessage()">X</button>
                  <strong>Campaing successfully created!</strong>
                </div>
                <div class="alert alert-warning" v-show="showUpdateMessage"  >
                  <button type="button" class="close" @click="hideMessage()">X</button>
                  <strong>Campaing successfully updated!</strong>
                </div>

                <div class="alert alert-warning" v-show="showError"  >
                  <button type="button" class="close" @click="hideMessage()">X</button>
                  <strong>Error!</strong>
                </div>
                    <h1>Create a Campaing</h1>
                    <div class="info-form">
                      <form>
                        <div class="form-group">

                          <label for="name">Campaing Name</label>
                          <input v-model="campaing.name" type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter Name">
                          <small id="nameHelp" class="form-text text-muted">Enter your campaing's Name</small>

                          <label for="cost">Campaing Cost</label>
                          <input v-model="campaing.cost" type="text" class="form-control" id="cost" aria-describedby="costHelp" placeholder="Enter Cost">
                          <small id="costHelp" class="form-text text-muted">Enter your campaing's Cost</small>

                          <label for="revenue">Campaing Revenue</label>
                          <input v-model="campaing.revenue" type="text" class="form-control" id="revenue" aria-describedby="revenueHelp" placeholder="Enter Revenue">
                          <small id="revenueHelp" class="form-text text-muted">Enter your campaing's Revenue</small>

                          <label for="currency">Campaing Currency</label>
                          <input v-model="campaing.currency" type="text" class="form-control" id="currency" aria-describedby="currencyHelp" placeholder="Enter Currency">
                          <small id="currencyHelp" class="form-text text-muted">Enter your campaing's Currency</small>

                          <label for="conversions">Campaing Conversions</label>
                          <input v-model="campaing.conversions" type="text" class="form-control" id="conversions" aria-describedby="conversionsHelp" placeholder="Enter Conversions">
                          <small id="conversionsHelp" class="form-text text-muted">Enter your campaing's Conversions</small>

                        </div>
                      </form>
                       <button class="btn btn-primary" v-if="!this.campaing.pk" @click="createCampaing()" ><span v-if="!creating">Create</span><span v-if="creating">Creating... Please wait </span></button>
                       <button class="btn btn-primary" v-if="this.campaing.pk" @click="updateCampaing()" ><span v-if="!updating">Update</span><span v-if="updating">Updating... Please wait </span></button>
                       <button class="btn btn-primary"  @click="newCampaing()" >New..</button>

                    </div>
                </div>
            </div>
        </div>

</template>

</template>

<script>
/* eslint-disable */
function sleep (time) {
  return new Promise((resolve) => setTimeout(resolve, time));
}



import {APIService} from '../http/APIService';


const apiService = new APIService();

export default {
  name: 'CampaingCreate',
  components: {
  },
  data() {
    return {
      showCreateMessage: false,
      showUpdateMessage: false,
      showError: false,
      campaing: {},
      campaings: '',
      creating: false,
      updating: false
    };
  },
  methods: {
    hideMessage(){
      this.showCreateMessage = false;
      this.showUpdateMessage = false;
      this.showError = false;
    },
    createCampaing(){
      console.log('create campaing' + JSON.stringify(this.campaing));
      this.creating = true;
      apiService.createCampaing(this.campaing).then((result)=>{
          console.log(result);
          // success
          if(result.status === 201){
            this.campaing = result.data;
            this.showCreateMessage = true;


          }
            sleep(1000).then(() => {
               this.creating = false;
            })
      },(error)=>{
        this.showError = true;
            sleep(1000).then(() => {
               this.creating = false;
            })
      });
    },
    updateCampaing(){
      this.updating = true;
      console.log('update campaing' + JSON.stringify(this.campaing));
      apiService.updateCampaing(this.campaing).then((result)=>{
          console.log(result);
          // success
          if(result.status === 200){
            //this.campaing = {};
            this.showUpdateMessage = true;
            sleep(1000).then(() => {
               this.updating = false;
            })

          }

      },(error)=>{
        this.showError = true;
        sleep(1000).then(() => {
               this.updating = false;
        })
      });
    },
    newCampaing(){
      this.campaing = {};
    }

  },
  mounted() {

    if(this.$route.params.pk){
      console.log(this.$route.params.pk)
      apiService.getCampaing(this.$route.params.pk).then((campaing)=>{
        this.campaing = campaing;
      })
    }
  },
}
</script>
<style scoped>
.aform{
  margin-left:  auto;
  width: 60%;
}
</style>
