<template>
<div>
<h1>Campaings ({{numberOfCampaings}})</h1>
<Loading :loading="loading"></Loading>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Cost</th>
      <th>Revenue</th>
      <th>Currency</th>
      <th>Conversions</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr   v-for="campaing in campaings" @click="selectCampaing(campaing)">
      <th>{{campaing.pk}}</th>
      <td>{{campaing.name}}</td>
      <td>{{campaing.cost | currency}}</td>
      <td>{{campaing.revenue | currency}}</td>
      <td>{{campaing.currency}}</td>
      <td>{{campaing.conversions}}</td>
      <td>
        <button class="btn btn-danger" @click="deleteCampaing(campaing)"> X</button>
        <a class="btn btn-primary" v-bind:href="'/campaing-update/' + campaing.pk"> &#9998; </a>

      </td>
    </tr>
  </tbody>
</table>
<div>
<ul class="list-horizontal">
  <li><button class="btn btn-primary" @click="getPreviousPage()">Previous</button></li>
  <li v-for="page in pages">
    <a class="btn btn-primary" @click="getPage(page.link)">{{ page.pageNumber }}</a>
  </li>
  <li><button class="btn btn-primary" @click="getNextPage()">Next</button></li>
</ul>


</div>

<div class="card text-center" v-if="selectedCampaing">
  <div class="card-header">
    #{{selectedCampaing.pk}}
  </div>
  <div class="card-block">
    <h4 class="card-title">{{selectedCampaing.name}}</h4>
    <p class="card-text">
    {{selectedCampaing.total | currency}} USD
    </p>
    <a class="btn btn-primary" v-bind:href="'/campaing-update/' + selectedCampaing.pk"> &#9998; </a>
    <button class="btn btn-danger" @click="deleteCampaing(selectedCampaing)"> X</button>

  </div>

</div>
</div>
</template>

<script>
/* eslint-disable */
import {APIService} from '../http/APIService';
import Loading from './Loading';
const API_URL = 'http://localhost:8000';
const apiService = new APIService();

export default {
  name: 'CampaingList',
  components: {
    Loading
  },
  data() {
    return {
      selectedCampaing:null,
      campaings: [],
      numberOfPages:0,
      pages : [],
      numberOfCampaings:0,
      loading: false,
      nextPageURL:'',
      previousPageURL:''
    };
  },
  methods: {
    getCampaings(){

      this.loading = true;
      apiService.getCampaings().then((page) => {
        this.campaings = page.data;
        console.log(page);
        console.log(page.nextlink);
        this.numberOfCampaings = page.count;
        this.numberOfPages = page.numpages;
        this.nextPageURL = page.nextlink;
        this.previousPageURL = page.prevlink;
        if(this.numberOfPages)
        {
          for(var i = 1 ; i <= this.numberOfPages ; i++)
          {
            const link = `/api/campaings/?page=${i}`;
            this.pages.push({pageNumber: i , link: link})
          }
        }
        this.loading = false;
      });
    },
    getPage(link){
      this.loading = true;
      apiService.getCampaingsByURL(link).then((page) => {
        this.campaings = page.data;
        this.nextPageURL = page.nextlink;
        this.previousPageURL = page.prevlink;
        this.loading = false;
      });
    },
    getNextPage(){
      console.log('next' + this.nextPageURL);
      this.loading = true;
      apiService.getCampaingsByURL(this.nextPageURL).then((page) => {
        this.campaings = page.data;
        this.nextPageURL = page.nextlink;
        this.previousPageURL = page.prevlink;
        this.loading = false;
      });

    },
    getPreviousPage(){
      this.loading = true;
      apiService.getCampaingsByURL(this.previousPageURL).then((page) => {
        this.campaings = page.data;
        this.nextPageURL = page.nextlink;
        this.previousPageURL = page.prevlink;
        this.loading = false;
      });

    },
    deleteCampaing(campaing){
      console.log("deleting campaing: " + JSON.stringify(campaing))
      apiService.deleteCampaing(campaing).then((r)=>{
        console.log(r);
        if(r.status === 204)
        {
          /*for(var i = this.campaings.length-1; i--;){
            console.log(this.campaings[i].pk);
            if (this.campaings[i].pk === campaing.pk)
            {
              console.log("deleting campaing " + this.campaings[i].pk)
              this.campaings.splice(i, 1);
            }
          }*/
          alert("Campaing deleted");
          this.$router.go()

        }
      })
    },
    selectCampaing(campaing){
      this.selectedCampaing = campaing;
    }
  },
  mounted() {

    this.getCampaings();

  },
}
</script>
<style scoped>
.list-horizontal li {
	display:inline-block;
}
.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#999;
	color:rgba(0,0,0,0.5);
	font-size:11px;
}
.list-horizontal li:first-child:before {
	content: '';
}
</style>
